<div class="col animated fadeIn fast" >
    <div class="card h-100">
      <img
        [src]="heroe.image"
        alt=""
        class="card-img-top img-fluid"
      />
      <div class="card-body">
        <h4 class="card-title">{{ heroe.name }}</h4>
        <p class="card-text">{{ heroe.bio }}</p>
      </div>
      <div class="card-footer">
        <p class="card-text">
          <small class="text-muted"> {{ heroe.appearance }} </small>
        </p>
        <div class="d-grid gap-2">
          <button class="btn btn-outline-primary" type="button" (click)="viewHero()">
            Ver mas ...
          </button>
        </div>
      </div>
    </div>
  </div>