<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr />
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eum odio aliquid
  ratione. Cupiditate atque corporis consequuntur, voluptatum tenetur voluptas
  eius repellat assumenda laboriosam nulla aut, eveniet aliquid odit
  perferendis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam
  dolores tenetur, corporis, similique quibusdam ullam ipsam atque veniam
  distinctio officiis, nesciunt vero adipisci molestiae! Excepturi cum porro
  veritatis eos quam. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
  Quasi sit mollitia deleniti architecto suscipit libero consequatur vel animi,
  iusto nostrum, voluptates aperiam quae repellendus quidem sunt eos expedita!
  Quam, nemo!!
</p>
