<h1>Heroes <small>Marvel y DC</small></h1>
<hr />

<!-- *ngFor="let heroe of heroes; let i = index" -->

<div class="row row-cols-1 row-cols-md-3 g-4">
  <app-heroe-card
    [heroe]="heroe"
    [idHeroe]="heroe.id"
    *ngFor="let heroe of heroes"
  ></app-heroe-card>
</div>
