<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/image/A-64.png" alt width="30" height="24" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" [routerLink]="['home']">
            Home
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['heroes']"> Heroes </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['about']"> About </a>
        </li>
      </ul>

      <form class="d-flex">
        <input
          class="form-control me-2"
          type="text"
          placeholder="Search Heroe"
          (keyup.enter)="searchHeroe(heroeSearch.value)"
          #heroeSearch
        />
        <button
          class="btn btn-outline-primary"
          type="button"
          (click)="searchHeroe(heroeSearch.value)"
        >
          Search
        </button>
      </form>
    </div>
  </div>
</nav>
