<h1 class="animated fadeIn">
  {{ heroe.name | uppercase }} <small>({{ heroe.appearance | date:'y' }}) </small>
</h1>
<hr />

<div class="row animated fadeIn fast">
  <div class="col-md-4">
    <img [src]="heroe.image" [alt]="heroe.name" class="img-fluid" />
    <br /><br />
    <div class="d-grid gap-2">
      <a
        [routerLink]="['/heroes']"
        class="btn btn-outline-danger"
        type="button"
      >
        Regresar
      </a>
    </div>
  </div>
  <div class="col-md-8">
    <h3>{{ heroe.name }}</h3>
    <hr />

    <p>
      {{ heroe.bio }}
    </p>
    <div>
      <img src="assets/image/{{ heroe.home }}.png" [alt]="heroe.home" />
    </div>
  </div>
</div>
