<h1>
  Search: <small>{{ term }}</small>
</h1>
<hr />

<div class="row animated fadeIn fast" *ngIf="heroesToShow.length === 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No existen resultado con el parametro: {{ term }}
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <app-heroe-card
    [heroe]="heroe"
    [idHeroe]="heroe.id"
    *ngFor="let heroe of heroesToShow"
  ></app-heroe-card>
</div>
